<mat-card class="mat-card-custom">
  <mat-card-title> User Details</mat-card-title>
  <mat-card-subtitle><strong>Name :</strong>{{ user.name}}</mat-card-subtitle>
  <mat-card-subtitle><strong>Email :</strong>{{ user.email}}</mat-card-subtitle>
  <mat-card-subtitle><strong>Occupation :</strong>{{ user.occupation}}</mat-card-subtitle>
  <mat-card-subtitle><strong>Biographie :</strong>{{ user.bio}}</mat-card-subtitle>
  <a routerLink="/home">
    <button mat-raised-button> Back to Users List</button>
  </a>
</mat-card>
