
.mat-card-custom {
    padding: 20px;
    border-radius: 10px;
    max-width: 100%; 
    width: 100%;
    gap: 10px;
  }
  
  .mat-card-custom mat-card-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .mat-card-custom mat-card-subtitle {
    display: flex;
    gap: 10px;
    color: #070404;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .mat-card-custom a button {
    background-color: #5faeef; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    border-style: none;
}
  .mat-card-custom a button:hover {
      background-color: #1d6bcb; 
  }
  
  