<div class="container">
    <h1>Update User</h1>
    <form class="form" #formupdate (ngSubmit)="updateUser()">
        <mat-form-field>
        <label>Nom: </label>
        <input
            matInput
            placeholder="Edition du nom"
            [(ngModel)]="user.name"
            name="user-name" />
        </mat-form-field>
        <mat-form-field>
        <label>Occupation: </label>
        <input
            matInput
            placeholder="Edition de l'occupation"
            [(ngModel)]="user.occupation"
            name="user-occupation"/>
        </mat-form-field>
        <mat-form-field>
        <label>Email: </label>
        <input
            matInput
            placeholder="Edition de l'email"
            [(ngModel)]="user.email"
            name="user-email"/>
        </mat-form-field>
        <mat-form-field>
        <label>Biographie: </label>
        <input
            matInput
            placeholder="Edition de la biographie"
            [(ngModel)]="user.bio"
            name="user-bio"/>
        </mat-form-field>
        
        <button mat-raised-button>
             Submit
        </button>
    </form>

    <br><br>

    <a routerLink="/home">
        <button mat-raised-button> Back to Users List</button>
    </a>
</div> 

