<div class="container">
  <h1>Create a user</h1>

  <form class="form" (ngSubmit)="addUser(user)">
    <mat-form-field>
      <label>Nom: </label>
      <input
          matInput
          placeholder="Définir un nom"
          [(ngModel)]="user.name"
          name="user-name" />
      </mat-form-field>
      <mat-form-field>
      <label>Occupation: </label>
      <input
          matInput
          placeholder="Définir une occupation"
          [(ngModel)]="user.occupation"
          name="user-occupation"/>
      </mat-form-field>
      <mat-form-field>
      <label>Email: </label>
      <input
          matInput
          placeholder="Définir un mail"
          [(ngModel)]="user.email"
          name="user-email"/>
      </mat-form-field>
      <mat-form-field>
      <label>Biographie: </label>
      <input
          matInput
          placeholder="Définir une biographie"
          [(ngModel)]="user.bio"
          name="user-bio"/>
      </mat-form-field>
    
      <button mat-stroked-button color="primary">
        Add user
      </button>
    
    </form>

    <br><br>

    <a routerLink="/home">
        <button mat-raised-button> Back to Users List</button>
    </a>

</div>
