h1{
    color: #000000;
    font-size: 24px;
    padding-top: 10px;
    font-weight: 500;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form button {
    background-color: #6dc85d; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    border-style: none;
    width: fit-content;
}

.form button:hover {
    background-color: #6cbe23; 
}

a button {
    background-color: #5faeef; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    border-style: none;
}

a button:hover {
    background-color: #1d6bcb; 
}
label{
    font-weight: 400;
}
input{
    font-weight: 200;
}