h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-top: 10px;
}

.buttonDetail {
    background-color: #5faeef; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    border-style: none;  
  }
  
.buttonDetail:hover {
    background-color: #1d6bcb; 
}

.buttonUpdate{
    background-color: #5faeef; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    border-style: none;
}
.buttonUpdate:hover {
    background-color: #1d6bcb; 
}
.buttonDelete{
    background-color: #ef5f5f; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    border-style: none;
}
.buttonDelete:hover {
    background-color: #b82b16; 
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px; 
}
.buttonAdd{
    background-color: #5faeef; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    border-style: none;
    width:9%;
    height:28%;
}
.buttonAdd:hover {
    background-color: #1d6bcb; 
}

  
  