<h1>User List</h1>
<div  ngClass="head">
  <mat-form-field appearance="fill">
    <mat-label>Rechercher</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Tap to search" />
  </mat-form-field>
  <button mat-button ngClass="buttonAdd"(click)="onAdd()">Add</button>
</div>

<table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>
    <ng-container matColumnDef="Occupation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Occupation </th>
        <td mat-cell *matCellDef="let user"> {{user.occupation}} </td>
    </ng-container>
    <ng-container matColumnDef="ActionDetail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let user">
            <button mat-button  ngClass="buttonDetail" (click)="onDetail(user.id)">Details</button>
          </td>
    </ng-container>
    <ng-container matColumnDef="ActionUpdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let user">
            <button mat-button ngClass="buttonUpdate" (click)="onUpdate(user.id)">Update</button>
          </td>
    </ng-container>
    <ng-container matColumnDef="ActionDelete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let user">
            <button mat-button ngClass="buttonDelete"(click)="onDelete(user.id)">Delete</button>
          </td>
    </ng-container>
  
  
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let user; columns: columnsToDisplay;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  

